<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/normalize.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="{{ url_for('static', filename= 'img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <div class="burbuja">
        <div class="burbuja2"></div>
    </div>

    <div class="container">
        <div class="container-center">
            <div class="container-flex">

                {% block content %} {% endblock %}

                <div class="container-formText">
                    <div class="formText">
                        <h2>Affluence
                            Counter</h2>
                        <p>Es una aplicación que se encarga de contabilizar el número de personas que entran en una tienda y las personas que pasan de largo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  </body>
</body>

</html>

<script>
    function processVideo() {
        let send = document.getElementById("send")
        let process = document.getElementById("process")
        send.style.display= "none"
        process.style.display = "block"

		}
</script>